.flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

head, body, html{
    height: 100%;
    width: 100%;
    border: solid black 2px;
}


img{
    position: relative;
    width: 10%;
    height: auto;

}
