/* body{
    position: relative;
} */
.title{
    /* border: 2px solid orange; */
    width: 100%;
    height: 50px;
    background: #78E84E;
    font-size: 45px;
    text-align: center;
}
.container {
    min-height: 100vh;
    background-color: #A3523F;
    /* display: flex; */
    /* flex-flow: row wrap; */
    /* justify-content: center; */
    overflow: scroll;

}

.bg_top {
    height: 50vh;
    width: 100vw;
    position: relative;
    /* top: 0; */
    background-color: #423370;
}

.group{
    background-color: 10px solid pink;
    width: 100%;

    display: flex;
    flex-flow: row;
    justify-content: center;
}

.devider{
    border: 2px solid black;
    width: 100vw;
    height: 50px;
    background: rebeccapurple;
    text-align: center;
    font-size: 45px;
}

.card {
    position: relative;
    top: -200px;
    /* left: calc(50% - 150px); */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 400px;
    background-color: #120E1F;
    border-radius: 5px;
    margin: 10px;
}


.card_pic{
    /* display: flex; */
    /* flex-flow: row nowrap; */
    /* align-content: flex-end; */
    /* align-items: flex-end; */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* background-color: white; */
    background-image: url(knight.png);
    background-position: center top;;
    border: 2px solid #A3523F;
    
}
.card_pic > .card_pic-notification{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #78E84E;
    font-weight: bolder;
    /* padding: 5px; */
    font-size: 25px;
    color: #A3523F;
    text-align: center;
    margin-left: 120px;
    margin-top: 120px;
    border: 2px solid #120E1F;
    /* align-self: flex-end; */

}
 /* .card>*{
     border: 2px solid white;
} */
        
.card_name{
    font: arial;
    font-weight: bolder;
     color: #A3523F;
     text-align: center;
}

.card_title{
    font: arial;
    font-weight: bolder;
    color: #C12500;
    text-align: center;
}

.card_data{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
}

.card_data > *{
    font: arial;
    font-weight: bolder;
    font-size: 30px;
    color: #A3523F;
    /* border: 2px blue solid; */
    flex-grow: 1;
    text-align: center;
}
.card_data > .card_data-followers{
    background-color: #423370;

}
.card_data > .card_data-following{
    background-color: #290A84;

}
.card_data > .card_data-interactions{
    background-color: #423370;

}
.card_data > .card_data-followers > div{
    font-size: 10px;
    font-weight: 50;
}
.card_data > .card_data-following > div{
    font-size: 10px;
    font-weight: 50;
}
.card_data > .card_data-interactions > div{
    font-size: 10px;
    font-weight: 50;
}

.card_button{
    text-align: center;
    font-size: 15px;
    color: #A3523F;
    border: 2px solid #A3523F;
    padding: 10px;
}